
<div class="container user-page">
	<div class="page-header">
		<header>
			<h1>Sign Up</h1>
		</header>
	</div>

	<div class="body-container">
		<div class="col-md-6 col-md-offset-3" id="signup-wrap">
			<br/>
			<div class="form-group" role="group">
				<%= form_for @user do |f| %>
				<div class="form-group" role="group">
					<%=	f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
				</div>
				<div class="form-group" role="group">
					<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
				</div>
				<div class="form-group" role="group">
					<%= f.text_field :current_city, placeholder: "Current City", class: "form-control" %>
				</div>
				<div class="form-group" role="group">
					<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
				</div>
				<div class="form-group" role="group">
					<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
				</div>

				<div class="form-group" role="group">
					<%= f.submit "Sign up", class: "btn btn-block" %>
				</div>

				<% end %>
			</div>
			<a href="/sessions/new">Already have an account?</a>
		</div>
	</div>

	<footer>
      <div class="row">
         <div class="col-md-2 col-md-offset-5" id="footer">
            <h5>Wanderful</h5>
         </div>
      </div>
   </footer>
</div>
