<div class="container">
	<div class="page-header">
		<header>
			<h1> <%= @city.name %> </h1>
		</header>
	</div>

	<div class="page-container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2>Travel Logs</h2>
			</div>

			<div class="panel-body">
				<% @city.posts.each do |post| %>
				<% @user = User.find_by_id(post.user_id) %>
				<div>
					<a href="/posts/<%= post.id %>"><h4> <%= post.title %> </h4></a>

					<h5> By: <%= @user.first_name %> <%= @user.last_name[0] %>. </h5>

					<p> <%= post.content %>	</p>
				</div>
				<% end %>
			</div>
		</div>

	</div>
</div>
