 <% content_for :head do%>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoDzkQGQeZAOkijfEvvm3Y5brNqIIKWH8">
    </script>
 <% end %>

<h1>Google Maps Tut</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div class="container">
	<div class="page-header">
		<header>
			<h1 id="<%= @city.name %>"> <%= @city.name %> </h1>
		</header>
	</div>

<div class="page-container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2>Travel Logs</h2>
			</div>

			<div class="panel-body">
				<% @city.logs.each do |log| %>
				<% @user = User.find_by_id(log.user_id) %>
				<div>
					<a href="/posts/<%= log.id %>"><h4> <%= log.title %> </h4></a>

					<h5> By: <%= @user.first_name %> <%= @user.last_name[0] %>. </h5>
					<span id="<%= log.address %>"></span>

					<p> <%= log.content %>	</p>
				</div>
				<% end %>
			</div>
		</div>
		<%= link_to("Post", city_log_new_path(@city)) %>
	</div>
</div>
