<div class="container">
	<header>
		<div class="page-header">
			<h1 class="text-center panel-body"><%= @log.title %></h1>
		</div>
	</header>

	<div>
		<a href="/users/<%= @author.id %>"><h5> By: <strong> <%= @author.first_name %> <%= @author.last_name[0] %>. </strong> </h5> </a>
	</div>

	<div id="log-content">

		<p><%= @log.content %></p>

	</div>

	<div class="tags" id="log-tags">

		<p><%=raw tag_links(@log.all_tags) %></p>

	</div>



	<% if @current_user == @author %>
	<div id="button-container">
		<%= button_to "Delete", @log, method: :delete, data: { confirm: 'Are you sure you want to delete this?'} %>
		<%= link_to "Edit", log_path(@log.id) %>
	</div>
	<% end %>


</div>
